<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
   <!-- Footer-->
   <th:block th:fragment="footerFragment">
   <footer>
      <div class="container w-100 h-20">
         <nav class="foot_bottom w-100">
           <div>
               <hr>
               (주)워너비 | 대표 이순신 | 주소 경기도 파주시 책향기로836 아름다운 타워 8층 | 대표번호 031-875-7853 | 사업자등록번호 141-81-15759 
               [사업자정보확인] <br> | 통신판매업 신 2009-경기파주-1943호 | 개인정보보호책임자 김순신 wannabe@wannabe.com
               <hr>
               <p> @ WANNABE ALL RIGHTS RESERVED. </p>
            </div>
         </nav>
      </div>
   </footer>
   </th:block>

</body>

</html>