<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Getting Started: Serving Web Content</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
	<table>
		<tr>
			<td><button type="button" th:onclick="'location.href=\''+ @{/product/modifyProduct?product_no=}+${product.product_no} + '\''">수정</button></td>
			<td><button type="button" th:onclick="'location.href=\''+ @{/product/deleteProduct?product_no=}+${product.product_no} + '\''">삭제</button></td>
		</tr>
		<tr>
			<td>분류</td>
			<td th:text="${product.product_category_code}"></td>
		</tr>
		<tr>
			<td>상품명</td>
			<td th:text="${product.product_title}"></td>
		</tr>
		<tr>
			<td>가격</td>
			<td th:text="${product.product_price}"></td>
		</tr>
		<tr>
			<td>배송 설명</td>
			<td th:text="${product.product_delivery_message}"></td>
		</tr>
		<tr>
			<td>배송비</td>
			<td th:text="${product.product_delivery_price}"></td>
		</tr>
		<tr>
			<td>할인율</td>
			<td th:text="${product.product_sale_percent}"></td>
			</td>
		</tr>
		<tr>
			<td>판매사</td>
			<td th:text="${product.product_company}"></td>
		</tr>
		<tr>
			<td>보유 수량</td>
			<td th:text="${product.product_type}"></td>
		</tr>
		<tr>
			<td>상품 타입</td>
			<td th:text="${product.product_type}"></td>
		</tr>
		<tr>
			<td>상품 코드</td>
			<td th:text="${product.product_code}"></td>
		</tr>
		<tr>
			<td>상세내용</td>
			<td th:text="${product.product_content}"></td>
		</tr>
	</table>


	<tr th:each="attachList:${product.attachList}">
		<td>
			<!--경로 작성법 예제-->
			<!--<img th:src=@{/download?}+'uploadpath='+${attachList.uploadpath}+'&uuid='+${attachList.uuid}+'&filename='+${attachList.filename} />-->
			<!--이미지 불러오기 성공 인코딩 ㄴㄴ-->
			<img th:src="@{/download/}+${attachList.uploadpath}+'/'+${attachList.uuid}+'/'+${attachList.filename}" />
		<td>
			<!--<td>
				<span th:text="${#dates.format(product.regdate, 'yyyy-MM-dd')}"></span>
				</td>
			</tr>-->
	</tr>


</body>

</html>