<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/common/layout">
	
<th:block layout:fragment="pageCustomCSS">
<link th:href="@{/css/login.css}" rel="stylesheet" />
</th:block>

<th:block layout:fragment="html_head">
	<title>로그인 폼</title>
</th:block>

<div layout:fragment="content_body" class="content">
		<div id="header">
			<h1>
				<a href="/" class="h_logo" id="log.wannabe">
					<span>WANNABE</span>
				</a>
			</h1>
		</div>
		<div id="container">
			<form action="/member/login" method="POST">
				<fieldset class="login_form">
					<legend class="blind">로그인</legend>
					<div class="id_area">
						<div class="input_row" id="id_area">
							<span class="input_box">
								<input type="text" id="id" name="member_id" accesskey="L" placeholder="아이디" class="int"
									maxlength="41" value="">
							</span>
						</div>
						<div class="error" id="err_empty_id" style="display:none" aria-live="assertive"></div>
					</div>
					<div class="pw_area">
						<div class="input_row" id="pw_area">
							<span class="input_box">
								<input type="password" id="pw" name="member_pw" placeholder="비밀번호" class="int"
									maxlength="16">
							</span>
						</div>
						<div class="error" id="err_empty_pw" style="display:none" aria-live="assertive"></div>
					</div>
					<input type="submit" title="로그인" alt="로그인" value="로그인" class="btn_global" id="log.login">
				</fieldset>
			</form>
		</div>
	</div>
	
	<th:block layout:fragment="pageCustomScript">
	<script>
		$(".int").focus(function () {
			$(this).closest("div").toggleClass("focus");
		});
		$(".int").blur(function () {
			$(this).closest("div").toggleClass("focus");
		});  
		
	</script>
	</th:block>

</html>