<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/common/layout">
	
<title>워너비 회원가입</title>

 <th:block layout:fragment="pageCustomCSS">
<link th:href="@{/css/join.css}" rel="stylesheet" />
</th:block>	

<body>
<div layout:fragment="content_body" class="content">
	<div id="wrap">
		<div id="container">
			<form action="/member/insertmember" method="POST" id="memberForm">

				<fieldset class="login_form">
					<legend class="blind">회원가입</legend>
					<div class="join_row">
						<h3 class="join_title"><label for="id">아이디</label></h3>
						<span class="ps_box int_id">
							<input type="text" id="id" name="member_id" class="int" title="ID" maxlength="20"
								onblur="checkID();">
							<input type="hidden" id="idCheck" value=0>
						</span>
						<span class="error_next_box" id="idMsg" style="" aria-live="assertive">필수 정보입니다.</span>
					</div>

					<div class="join_row">
						<h3 class="join_title"><label for="pswd1">비밀번호</label></h3>
						<span class="ps_box int_pass" id="pswd1Img">
							<input type="password" id="pswd1" name="member_pw" class="int" title="비밀번호 입력"
								aria-describedby="pswd1Msg" maxlength="20" onblur="checkPW();">
							<input type="hidden" id="pswd1Check" value=0>
						</span>
						<span class="error_next_box" id="pswd1Msg" style="display:none" aria-live="assertive"></span>

						<h3 class="join_title"><label for="pswd2">비밀번호 재확인</label></h3>
						<span class="ps_box int_pass_check" id="pswd2Img">
							<input type="password" id="pswd2" name="member_pw1" class="int" title="비밀번호 재확인 입력"
								aria-describedby="pswd2Blind" maxlength="20" onblur="checkPW_same();">
							<input type="hidden" id="pswd2Check" value=0>
						</span>
						<span class="error_next_box" id="pswd2Msg" style="display:none" aria-live="assertive"></span>
					</div>

					<div class="join_row">
						<h3 class="join_title"><label for="name">이름</label></h3>
						<span class="ps_box box_right_space">
							<input type="text" id="name" name="member_name" title="이름" class="int" maxlength="40"
								onblur="checkName();">
							<input type="hidden" id="nameCheck" value=0>
						</span>
						<span class="error_next_box" id="nameMsg" style="display:none" aria-live="assertive"></span>
					</div>

					<div class="join_row">
						<h3 class="join_title"><label for="phone">연락처</label></h3>
						<span class="ps_box box_right_space">
							<input type="text" id="phone" name="member_phone" title="연락처" class="int" maxlength="40"
								onblur="checkPhone();">
							<input type="hidden" id="phoneCheck" value=0>
						</span>
						<span class="error_next_box" id="phoneMsg" style="display:none" aria-live="assertive"></span>
					</div>

					<div class="join_row">
						<h3 class="join_title"><label for="email">이메일</label></h3>
						<span class="ps_box box_right_space">
							<input type="text" id="email" name="member_email" title="이메일" class="int" maxlength="40"
								onblur="checkEmail();">
							<input type="hidden" id="emailCheck" value=0>
						</span>
						<span class="error_next_box" id="emailMsg" style="display:none" aria-live="assertive"></span>
					</div>

					<!-- <input type="submit" title="가입하기" alt="가입하기" value="가입하기" class="btn_global" id="log.login"> -->
					<input type="hidden" id="checkForm" value=0>
					<input type="submit" onclick="fn_checkForm();" title="가입하기" alt="가입하기" value="가입하기" class="btn_global"
						id="log.login">
				</fieldset>
			</form>
		</div>
	</div>
	</div>
	<th:block layout:fragment="pageCustomScript">
	<script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
	crossorigin="anonymous"></script>
	<script>

		$(".int").focus(function () {
			$(this).closest("span").toggleClass("focus");
		});
		$(".int").blur(function () {
			$(this).closest("span").toggleClass("focus");
		});

		function checkID() {
			var memberID = $('#id').val();
			if (memberID == null || memberID == "") {
				$('#idMsg').text('아이디를 입력해주세요');
				$('#idMsg').css("display", "block");
				$('#idMsg').css("color", "red");
				$('#idCheck').val(0);
				
				return;
			}

			var regex = /^[A-Za-z0-9]{6,12}$/;
			if (!regex.test(memberID)) {
				$('#idMsg').text('아이디는 6~12자리, 숫자와 문자(영문)로 작성해주세요');
				$('#idMsg').css("display", "block");
				$('#idMsg').css("color", "red");
				$('#idMsg').val(0);
				return;
			}

			$.ajax({
				type: 'POST',
				url: '/member/addMemberCheck',
				data: {
					memberID: memberID
				},
				success: function (result) {
					if (result == 0) {
						$('#idMsg').text('사용할 수 있는 아이디입니다.');
						$('#idMsg').css("display", "block");
						$('#idMsg').css("color", "green");
						$('#idCheck').val(1);
						return;
					} else {
						$('#idMsg').text('사용할 수 없는 아이디입니다.');
						$('#idMsg').css("display", "block");
						$('#idMsg').css("color", "red");
						$('#idCheck').val(0);
						return;
					}
				}

			})
		}

		function checkPW() {

			var pswd1 = $('#pswd1').val();
			if (pswd1 == null || pswd1 == "") {
				$('#pswd1Msg').text('비밀번호를 입력해주세요');
				$('#pswd1Msg').css("display", "block");
				$('#pswd1Msg').css("color", "red");
				$('#pswd1Check').val(0);
				return;
			}

			var regex = /^[A-Za-z0-9]{6,12}$/;
			if (!regex.test(pswd1)) {
				$('#pswd1Msg').text('비밀번호는 6~12자리, 숫자와 문자(영문)로 작성해주세요');
				$('#pswd1Msg').css("display", "block");
				$('#pswd1Msg').css("color", "red");
				$('#pswd1Check').val(0);
				return;
			}
			$('#pswd1Check').val(1);
			return;
		}

		function checkPW_same() {
			var pswd1 = $('#pswd1').val();
			var pswd2 = $('#pswd2').val();

			if (pswd2 == null || pswd2 == "") {
				$('#pswd2Msg').text('비밀번호를 입력해주세요');
				$('#pswd2Msg').css("display", "block");
				$('#pswd2Msg').css("color", "red");
				$('#pswd2Check').val(0);
				return;
			}

			if (pswd1 != null && !pswd1 == "") {
				if (pswd2 != null && !pswd2 == "") {
					if (pswd1 != pswd2) {
						$('#pswd2Msg').text('비밀번호가 일치하지 않습니다.');
						$('#pswd2Msg').css("display", "block");
						$('#pswd2Msg').css("color", "red");
						$('#pswd2Check').val(0);
						return;
					} else {
						$('#pswd2Msg').text('비밀번호가 일치합니다.');
						$('#pswd2Msg').css("display", "block");
						$('#pswd2Msg').css("color", "green");
						$('#pswd2Check').val(1);
						return;
					}
				}
			}
			$('#pswd2Check').val("0");
			return;
		}

		function checkName() {
			var name = $('#name').val();
			if (name == null || name == "") {
				$('#nameMsg').text('이름을 입력해주세요');
				$('#nameMsg').css("display", "block");
				$('#nameMsg').css("color", "red");
				$('#nameCheck').val(0);
				return;
			}

			var regex = /[가-힣]{2,10}/;
			if (!regex.test(name)) {
				$('#nameMsg').text('이름(한글)을 정확하게 작성해주세요');
				$('#nameMsg').css("display", "block");
				$('#nameMsg').css("color", "red");
				$('#nameCheck').val(0);
				return;
			}
			$('#nameCheck').val(1);
			return;

		}

		function checkPhone() {
			var phone = $('#phone').val();
			if (phone == null || phone == "") {
				$('#phoneMsg').text('연락처를 입력해주세요');
				$('#phoneMsg').css("display", "block");
				$('#phoneMsg').css("color", "red");
				$('#phoneCheck').val(0);
				return;
			}

			var regex = /^01(?:0|1|[6-9])[-](\d{3}|\d{4})[-](\d{4})$/;
			if (!regex.test(phone)) {
				$('#phoneMsg').text('정확한 연락처를 작성해주세요');
				$('#phoneMsg').css("display", "block");
				$('#phoneMsg').css("color", "red");
				$('#phoneCheck').val(0);
				return;
			}

			$('#phoneCheck').val(1);
			return;
		}

		function checkEmail() {
			var email = $('#email').val();
			if (email == null || email == "") {
				$('#emailMsg').text('이메일를 입력해주세요');
				$('#emailMsg').css("display", "block");
				$('#emailMsg').css("color", "red");
				$('#emailCheck').val(0);
				return;
			}

			var regex = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
			if (!regex.test(email)) {
				$('#emailMsg').text('정확한 email를 작성해주세요');
				$('#emailMsg').css("display", "block");
				$('#emailMsg').css("color", "red");
				$('#emailCheck').val(0);
				return;
			}
			$('#emailCheck').val(1);
			return;
		}

		function fn_checkForm() {
			if ($('#idCheck').val()=='0') {
				alert("아이디를 확인해주세요");
				$('#id').focus();
				return;
			}

			check = $('#pswd1Check').val();
			if (check == 0) {
				alert("비밀번호를 확인해주세요");
				$('#pswd1').focus();
				return;
			}
			check = $('#pswd2Check').val();
			if (check == 0) {
				alert("비밀번호 재확인을 확인해주세요");
				$('#pswd2').focus();
				return;
			}
			check = $('#nameCheck').val();
			if (check == 0) {
				alert("이름을 확인해주세요");
				$('#name').focus();
				return;
			}
			check = $('#phoneCheck').val();
			if (check == 0) {
				alert("연락처를 확인해주세요");
				$('#phone').focus();
				return;
			}
			check = $('#emailCheck').val();
			if (check == 0) {
				alert("이메일을 확인해주세요");
				$('#email').focus();
				return;
			}
		} 

	</script>
	</th:block>
</body>

</html>