<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/common/layout">

<th:block layout:fragment="html_head">
	<title>wannabe</title>
</th:block>
<th:block layout:fragment="css">
	<link th:href="@{/css/index.css}" rel="stylesheet" />
</th:block>

<div id="wrap" layout:fragment="content_body">
	<!-- Slider begin -->
	<div class="container slider">
		<!-- Full-width images with number text -->
		<div class="mySlides">
			<div class="numbertext">1 / 6</div>
			<img th:src="@{/images/img_woods_wide1.jpg}" style="width: 100%">
		</div>

		<div class="mySlides">
			<div class="numbertext">2 / 6</div>
			<img th:src="@{/images/img_5terre_wide.jpg}" style="width: 100%">
		</div>

		<div class="mySlides">
			<div class="numbertext">3 / 6</div>
			<img src="/images/img_mountains_wide.jpg" style="width: 100%">
		</div>

		<div class="mySlides">
			<div class="numbertext">4 / 6</div>
			<img src="/images/img_lights_wide.jpg" style="width: 100%">
		</div>

		<div class="mySlides">
			<div class="numbertext">5 / 6</div>
			<img src="/images/img_nature_wide.jpg" style="width: 100%">
		</div>

		<div class="mySlides">
			<div class="numbertext">6 / 6</div>
			<img src="/images/img_snow_wide.jpg" style="width: 100%">
		</div>

		<!-- Next and previous buttons -->
		<a class="prev" onclick="plusSlides(-1)">&#10094;</a> <a class="next"
			onclick="plusSlides(1)">&#10095;</a>

		<!-- Image text -->
		<div class="caption-container">
			<p id="caption"></p>
		</div>
		<!-- Slider End -->
		<!-- Section-->
		<section class="py-2">


			<!-- 신상품  -->
			<div class="container-fluid">
				<div class="row">
					<h4 class="text-left">신상품</h4>
					<div class="text-right ml-0">더보기</div>
					<div class="card card-group border-0 px-2" style="width: 20rem;"
						th:each="product, rowStatus :${latestProductList}">
						<div>
							<picture class="image_container bg-image"
								th:each="image: ${ProductImageList}"
								th:if="${#strings.equals(image.filetype, 'main_image')}">
							<a
								th:href="@{/product/productDetails(product_no=${product.product_no})}">
								<img th:if="${image.product_no == product.product_no}"
								th:src="@{/productThumbs(filepath=${image.uploadpath}, filename=${image.filename})}"
								alt="product_thumbnail"
								class="card-img-top img-fluid rounded mx-auto d-block">
							</a> </picture>
							<div class="card-body pt-2 pl-0">
								<p
									class="card-text card-subtitle text-muted small font-weight-light text-left"
									style="font-size: 0.7rem;" th:text="${product.product_title}"></p>
								<p class="text-left">
									<strong><span
										th:utext="${product.product_sale_percent + '% '}"
										style="color: #06bbcf"></span><span class="card-text mr-2"
										th:text="${product.formattedPrice}"></span></strong>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 신상품 -->


			<!-- 베스트 -->

			<div class="container-fluid">
				<div class="row">
					<h4 class="text-left">베스트</h4>
					<div class="card card-group border-0 px-2" style="width: 20rem;"
						th:each="bestProduct, rowStatus :${bestProductList}">
						<div>
							<picture class="image_container bg-image"
								th:each="bestImage: ${bestImageList}"
								th:if="${#strings.equals(bestImage.filetype, 'main_image')}">
							<a
								th:href="@{/product/productDetails(product_no=${bestProduct.product_no})}">
								<img th:if="${bestImage.product_no == bestProduct.product_no}"
								th:src="@{/productThumbs(filepath=${bestImage.uploadpath}, filename=${bestImage.filename})}"
								alt="product_thumbnail"
								class="card-img-top img-fluid rounded mx-auto d-block">
							</a> </picture>
							<div class="card-body pt-2 pl-0">
								<p
									class="card-text card-subtitle text-muted small font-weight-light text-left"
									style="font-size: 0.7rem;"
									th:text="${bestProduct.product_title}"></p>
								<p class="text-left">
									<strong><span
										th:utext="${bestProduct.product_sale_percent + '% '}"
										style="color: #06bbcf"></span><span class="card-text mr-2"
										th:text="${bestProduct.formattedPrice}"></span></strong>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 베스트 끝  -->

			<div class="container-fluid card-list" id="card-list">
				<div class="row">
					<div class="newCard card-group border-0 px-2" style="width: 20rem;">
						<div>
							<picture class="image_container bg-image"
								th:each="newImage: ${newImageList}"
								th:if="${#strings.equals(newImage.filetype, 'main_image') && newImageList != null}">
							<a
								th:href="@{/product/productDetails(product_no=${newProduct.product_no})}">
								<img th:if="${newImage.product_no == newProduct.product_no}"
								th:src="@{/productThumbs(filepath=${newImage.uploadpath}, filename=${newImage.filename})}"
								alt="product_thumbnail"
								class="card-img-top img-fluid rounded mx-auto d-block">
							</a> </picture>
							<div class="card-body pt-2 pl-0">
								<p
									class="newCardTitle text card-subtitle text-muted small font-weight-light text-left"
									style="font-size: 0.7rem;"></p>
								<p class="text-left">
									<strong><span
										th:utext="${newProduct.product_sale_percent + '% '}"
										style="color: #06bbcf"></span><span class="card-text mr-2"
										th:text="${newProduct.formattedPrice}"></span></strong>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 무한 스크롤 -->

			<!--끝  -->
			<div class="loader">
				<img
					src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/f3d5a969321565.5b7d0cbe73337.gif">
			</div>
		</section>
	</div>
</div>
<th:block layout:fragment="pageCustomScript">
	<script>
		var currentPage = 1;
		var totalPageCount = 1;
		var isLoading = false;

		$(document).ready(function() {
			getList(currentPage);
		});

		$(window).on("scroll", function() {
			var scrollTop = $(window).scrollTop();
			var windowHeight = $(window).height();
			var documentHeight = $(document).height();
			var isBottom = scrollTop + windowHeight + 10 >= documentHeight;

			if (isBottom) {
				if (currentPage == totalPageCount || isLoading) {
					return;
				}

				isLoading = true;
				$(".loader").css("display", "block");
				currentPage++;
				getList(currentPage);
			}
		});

		function getList(currentPage) {
			
			$.getJSON("/product/getBestProducts"+ pageNum=" + currentPage,
					$(data).each(function() {
						$(".newCardTitle").text(this.newProductList.product_title);
					});

				}

		/* $("#card-list").append(data);
		$(".loader").css("display", "none");
		isLoading = false; */
	</script>
</th:block>
</html>