<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h3>고객 정보 수정</h3>
<form action="/member/modifymember" method="post">
<div>
<ul>
<li><label for="">아이디</label> <input th:value="${member.member_id}" id="member_id" name="member_id" readonly /></li>
<li><label for="">새비밀번호</label> <input th:value="${member.member_pw}" type=password id="member_pw" name="member_pw" /></li>
<li><label for="">새비밀번호 확인</label> <input th:value="${member.member_pw}" type=password id="member_pw1" name="member_pw1" /></li>
<li><label for="">이름</label> <input th:value="${member.member_name}" id="member_name" name="member_name" /></li>
<li><label for="">핸드폰</label> <input th:value="${member.member_phone}" id="member_phone" name="member_phone" /></li>
<li><label for="">이메일</label> <input th:value="${member.member_email}" id="member_email" name="member_email" /></li>
<button type="submit"> 수정하기 </button>
<button th:href="@{/member/myinformation}">이전가기</button> 
</ul>
</div>
</form>
</body>
</html>